@charset "UTF-8";

.sub_wrap {
  background: #efefef;
}
.sub_title {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.sub_title h2 {
  text-align: center;
  line-height: 50px;
}
.sub_con {
  
}
.sub_con > p {
  padding: 20px 0 10px 12px;
  font-size: 14px;
}
.sub_search {
  background: #fff;
  border: 1px solid #b9b9b9;
  margin: 0 12px;
  padding: 25px 17px 17px;
  border-radius: 5px; 
  position: relative;
  
}
.sub_search_input {
   border: none;
  border-bottom: 1px solid #b9b9b9;
  height: 30px;
  width: calc(100% - 70px);
  outline: none;
  padding-left: 10px;
}
.sub_search_input::placeholder {
  color: #999;
  font-size: 12px;
}
.sub_search_btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  width:49px;
  padding: 8px 12px; 
  background: #666;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 15px;
}
.conlist {
  overflow: hidden;
  padding: 20px 6px 0;
}
.conlist li {
  width: 50%;
  padding: 6px;
  float: left;
}
.conlist a {
  display: block;
  background: #fff;
  border: 1px solid #b9b9b9;
  height: 100px;
  border-radius: 2px;
  text-align: center;
}
.conlist img {

}




